@import "tailwindcss";

@theme {
  /* Tus colores corporativos idénticos se mantienen igual */
  --color-brand-green-dark: #134323;  
  --color-brand-green-light: #60A62E; 
  --color-brand-bg-cream: #FDF9F2;    
  --color-brand-betabel: #9A1B36;     
  --color-brand-camote: #E28731;      
  --color-brand-dark: #080708;        

  /* MAPEADO OFICIAL PARA TU FUENTE VARIABLE DE GOOGLE */
  --font-heading: "Fredoka", sans-serif;
  --font-sans: "Poppins", sans-serif;
}

/* FORZAMOS LAS VARIACIONES DEL LOGO PARA TODOS LOS TÍTULOS */
.font-heading {
  font-family: "Fredoka", sans-serif;
  font-variation-settings: 'wdth' 98.3, 'wght' 611;
}
