@import "tailwindcss";

@theme {
  /* Tus colores corporativos idénticos se mantienen igual */
  --color-brand-green-dark: #134323;  
  --color-brand-green-light: #60A62E; 
  --color-brand-bg-cream: #FDF9F2;    
  --color-brand-betabel: #9A1B36;     
  --color-brand-camote: #E28731;      
  --color-brand-dark: #080708;        

  /* MAPEADO DE LA NUEVA ESPECIFICACIÓN: Usamos font-sans para Poppins */
  --font-heading: "Bangers", sans-serif;
  --font-sans: "Poppins", sans-serif;
}
