@import "tailwindcss";

@theme {
  /* Configuración de la paleta extraída del logotipo (se queda igual) */
  --color-brand-green-dark: #134323;  
  --color-brand-green-light: #60A62E; 
  --color-brand-bg-cream: #FDF9F2;    
  --color-brand-betabel: #9A1B36;     
  --color-brand-camote: #E28731;      
  --color-brand-dark: #080708;        

  /* NUEVA CONFIGURACIÓN DE FUENTES (OPCIÓN 2) */
  --font-heading: "Bangers", sans-serif;
  --font-body: "Poppins", sans-serif;
}
