---
// src/layouts/Layout.astro
import '../styles/global.css'; // <-- ESTA LÍNEA ES LA CLAVE PARA QUE ACTIVE TAILWIND GLOBALMENTE

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Flavor Land - Snacks saludables y frituras artesanales." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/images/logotipo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<!-- Conexión anticipada con los servidores de Google -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<!-- Tu enlace exacto de Fredoka con la directiva display=swap -->
		<link href="https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@98.3,510&display=swap" rel="stylesheet">

		<!-- 🚀 PRECARGA REAL DEL ARCHIVO .WOFF2 DE FREDOKA PARA SACAR EL 100/100 -->
		<link 
			rel="preload" 
			href="https://gstatic.com" 
			as="font" 
			type="font/woff2" 
			crossorigin="anonymous" 
		/>
	</head>

	<!-- Cambiamos font-body por font-sans para activar Poppins en todo el sitio -->
	<body class="bg-brand-bg-cream font-sans text-brand-dark min-h-screen antialiased">
		<slot />
	</body>
</html>
