---
// src/layouts/Layout.astro
import '../styles/global.css'; // <-- ESTA LÍNEA ES LA CLAVE PARA QUE ACTIVE TAILWIND GLOBALMENTE

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Flavor Land - Snacks saludables y frituras artesanales." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/images/logotipo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		    <!-- Google Fonts Oficial: Opción 2 (Bangers + Poppins) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">


	</head>
		<!-- Cambiamos font-body por font-sans para activar Poppins en todo el sitio -->
	<body class="bg-brand-bg-cream font-sans text-brand-dark min-h-screen antialiased">
		<slot />
	</body>

</html>
